html {
  font-family: Oswald, sans-serif;
  background-color: #F4F4F4;
}

h1 {
  color: black;
  font-size: 2em;
}

tbody tr:nth-child(odd) {
  background-color: #A2A2A2;
}

.content {
  max-width: 500px;
  margin: auto;
}